<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
     <default>
        <testimonial_config>
           <Testimonial_group2>
                <enable>1</enable>
           </Testimonial_group2>
         </testimonial_config>
     </default>
</config>