<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bluethink_Grid::manager" title="Product" module="Bluethink_Grid" sortOrder="10" resource="Bluethink_Grid::manager"/>
        <add id="Bluethink_Grid::add_row" title="Add Product" module="Bluethink_Grid" sortOrder="20" parent="Bluethink_Grid::manager" action="grid/grid" resource="Bluethink_Grid::add_row"/>
    </menu>
</config>
